<h2 class="text-center mt-3">Plan de Pagos</h2>

<div class="container">
  <div class="mb-3">
    <label for="prestamoId" class="form-label">Código Préstamo:</label>
    <input id="prestamoId" [(ngModel)]="prestamoSeleccionado" type="number" class="form-control" placeholder="Ingrese el código del préstamo">
  </div>

  <!-- Botones de acciones -->
  <button class="btn btn-primary me-2" (click)="obtenerPlanDePagos()">Obtener Plan de Pagos</button>
  <button class="btn btn-success me-2" (click)="generarPlanDePagos()">Generar Plan de Pagos</button>
  <button class="btn btn-danger" (click)="eliminarPlanDePagos()">Eliminar Plan de Pagos</button>

  <!-- Contenedor de la tabla con scroll -->
  <div class="table-container mt-3" *ngIf="planPagos.length > 0">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>No. Cuota</th>
          <th>Fecha de Pago</th>
          <th>Monto</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pago of planPagos; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ pago.fechaPago | date: 'mediumDate' }}</td>
          <td>{{ pago.monto | currency:'Q. ':'symbol' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
